.item {
    margin: 1rem;
    background-color: #f1d7c6;
    padding: 1rem;
    border-radius: 20px;
    list-style: none;
  }
  .item header img{
    background-color: #f1d6c4;
    border-radius: 1rem;
    box-shadow: inset 0 0 2.5rem 1rem #fff;
  }
  .item h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.25rem;
  }
  
  .item header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quantity span {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .itemprice {
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
  }
  
  .actions button {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 0.5rem;
    padding: 0.15rem 1rem;
    color: white;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #4b4b4b;
    color: white;
  }